@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body{
    background-image: url(../images/background.jpg);
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-intro-title {
    color: rgb(255, 200, 17);
    text-align: center;
    margin-bottom: .2em;
    font-size: 5em;
}

.menu-intro-instructions {
    color: rgb(145, 145, 241);
    text-align: center;
    font-size: 2em;
}

#army-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin: 0 auto;
    justify-content: space-around;
}

.menu-army {
   height: 300px;
   background-color: rgb(37, 36, 36); 
   transition: flex-basis 500ms ease-in-out;
   flex-basis: 30%;
   margin: .5em;
}

.menu-army:hover{
    cursor: pointer;
}

.menu-army-img {
    width: 100%;
    height: 80%;
    display: block;
    border: 2px solid rgb(37, 36, 36);
}

.menu-army-title {
    height: 20%;
    font-size: 1.5em;
    color: #fff;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Sith:hover{
    border: 2px solid red;
}

.Republic:hover{
    border: 2px solid blue;
}

#game{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100vh);
    animation-delay: 1s;
    display: flex;
    transition: .3s;
}

.game-wrapper{
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.game-enemy-wrapper{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.game-player-wrapper{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.game-wrapper-img{
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.game-enemy-wrapper img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


#attack{
    flex-basis: 20%;
    height: 100%;
    font-size: 3rem;
    background-color: transparent;
}

#attack:hover{
    color: white;
    border: 10px solid white;
}

.Sith-attack-button {
    color: red;
    border: 2px solid red;
    
}
.Republic-attack-button {
    color: blue;
    border: 2px solid blue;
}

.health-bar{
    height: 20%;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 5px solid rgb(26, 19, 19);
}

.Sith-bar{
   background-color: red;
}

.Republic-bar{
    background-color: blue;
}

.hpbar{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -15
}

#end{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end h1{
    color: rgb(255, 200, 17);
    text-align: center;
    margin-bottom: .2em;
    font-size: 5em;
}

#reset{
    border: 3px solid rgb(145, 145, 241);
    background-color: transparent;
    color: rgb(145, 145, 241);
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    font-size: 2em;
}


.zoomout{
    animation: swooshoffscreen 2s forwards;
}

.zoom{
    animation: swoosh 2s forwards;
    
}

@keyframes swooshoffscreen{
    from{
        transform: translate(-50% , -50%);
    }
    to{
        transform: translate(-50%, -180vh);
        display: none;
    }
}

@keyframes swoosh{
    from{
        transform: translate(-50% , 100vh);
        
    }
    to{
        transform: translate(-50% , -50%);
        display: flex;
    }
}
